// FONT SIZES>>>>>>>>>>>
$paragraph_font:16px;
$heading_font:32px;
$subHeading_font: 20px;
$sub_text_font:14px;
$xlHeading_font:60px;
$errormessage_font:9px;

// FONT SIZES FOR MOBILE>>>>>>
$smalldevice_heading_font:32px;
$smalldevice_paragraph_font:14px;
$smalldevice_subHeading_font: 16px;
$smalldevice_sub_text_font:14px;

// FONT WEIGHT>>>>>
$font300:300;
$font400:400;
$font500:500;
$font600:600;
$font600:700;


// COLOR SCHEMES>>>>>>>
$paragraph_color:#484848;
$heading_color:#484848;
$sub_heading_color:#727272;
$info_heading_color:#480a00;
$info_subpara_color:#480a00;
$banner_color:#774b3d;
$selectoption_heading_color:#969696;
$link_color:#1287e5;
$whitelabel_color:#ffffff;
$rupeek_color:#fca942;
