<!DOCTYPE html>
<html>
    {{ partial "head" .}}
<body>
    <div class="outerContainer">
        <div id="localities" style="display: none;">{{ .Params.sub_locality}}</div>
        <div id="postType" style="display: none;">{{ .Params.postType}}</div>
        <div id="current_city" style="display: none;">{{ .Params.Title }}</div>
        {{ block "navigation" .}}
            {{ partial "navigation" .}}
        {{end}}
        <div class="mainContainer">
            <!-- RIGHT PART/SECTION OF THE PAGE STARTS HERE -->
            <div class= 'rightPart'>
                {{ block "pageHeading_section" . }}
                    {{ partial "pageHeading_section" .}}
                {{ end }}

                {{ block "static_data" . }}
                    {{ partial "staticdata" .}}
                {{ end }}

                {{ block "subfooterdata" .}}
                    <div class="subWrapper">
                        <div class="para_section">
                            <p class="data">{{.Params.sub_footerData}}</p>
                        </div>
                    </div> 
                {{end}}

                {{ block "getin_touch" . }}

                {{end}}
            </div>

            <!-- LEFT PART/SECTION OF THE PAGE STARTS HERE -->
            <div class= 'left'>
                {{ block "pageLeft_part" .}}
                {{end}}
            </div>        
        </div>
            {{ block "footer" . }}
                {{ partial "footer" .}}
                {{ partial "menumodal_mobile" .}}
            {{ end }}
    </div>
    
       <script> !function(){
           var analytics=window.analytics=window.analytics||[];
           if(!analytics.initialize)if(analytics.invoked)window.console&&console.error&&console.error("Segment snippet included twice.");
           else{analytics.invoked=!0;analytics.methods=["trackSubmit","trackClick","trackLink","trackForm","pageview","identify","reset","group","track","ready","alias","debug","page","once","off","on","addSourceMiddleware","addIntegrationMiddleware","setAnonymousId","addDestinationMiddleware"];
           analytics.factory=function(e){return function(){var t=Array.prototype.slice.call(arguments);t.unshift(e);analytics.push(t);return analytics}};for(var e=0;e<analytics.methods.length;e++){var t=analytics.methods[e];analytics[t]=analytics.factory(t)}analytics.load=function(e,t){var n=document.createElement("script");n.type="text/javascript";n.async=!0;n.src="https://cdn.segment.com/analytics.js/v1/"+e+"/analytics.min.js";var a=document.getElementsByTagName("script")[0];a.parentNode.insertBefore(n,a);analytics._loadOptions=t};analytics.SNIPPET_VERSION="4.1.0"; analytics.load("eFzxD2QO6YluF8jQqSVyK8LhObORIwZb"); analytics.page(); }}(); </script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="/js/index.js"></script>
</body>
</html>
