{{ define "getin_touch" }}
    <div class="subWrapper">
        <div class="getintouch_wrapper" id="getintouch_wrapper">
            <div class="getintouch_heading">
                <p>Get in touch</p>
            </div>
            <div class="getintouch_subheading">
                <p>We are available in 40+ areas in <span class="getintouch_city">{{ .Params.Title }}</span></p>
            </div>
                <div class="list">
                    <div class="listpost_wrapper" id="listpost_wrapper">
                        {{ range .Pages }}
                        <div class="posts">                    
                            <a class="indivisualPost_href" href="{{ .URL }}"> {{ .Page.Title }} </a>
                            <!-- <div class="locality_description">{{ .Description }}</div> -->
                        </div>
                        {{ end }}
                    </div>     
                </div>
            </div>
    </div> 
{{ end }}

{{ define "pageLeft_part" }}
    {{ partial "leftpart_section" .}}
{{ end }}
                
                
                
            


