<div class="advantages-container">
	<div class="advantages-heading">
        <p class="rpkadv_heading">The Rupeek Advantages</p>
    </div>
    <div class="advantagesInner-wrapper">
        <div class="advantages-left">
            <div class="image_section">
                <img src="../images/uploads/save.svg"/>
            </div>
            <div class="advantage_description">
                <p class="advantage_para">Save up to ₹12,377/lakh on interest</p>
            </div>
        </div>
        <div class="advantages-mid">
            <div class="image_section">
                <img src="../images/uploads/non _jumping.svg"/>
            </div>
            <div class="advantage_description">
                <p class="advantage_para">Non jumping rate of interest available</p>
            </div>
        </div>
        <div class="advantages-rgt">
            <div class="image_section">
                <img src="../images/uploads/30 _min.svg"/>
            </div>
            <div class="advantage_description">
                <p class="advantage_para">30 min doorstep service. Guaranteed.</p>
            </div>
        </div>
    <!-- </div> -->
    <!-- <div class="advantagesInner-wrapper"> -->
        <div class="advantages-left">
            <div class="image_section">
                <img src="../images/uploads/insurance.svg"/>
            </div>
            <div class="advantage_description">
                <p class="advantage_para">Free 100% insurance cover</p>
            </div>
        </div>
        <div class="advantages-mid">
            <div class="image_section">
                <img src="../images/uploads/flexible.svg"/>
            </div>
            <div class="advantage_description">
                <p class="advantage_para">Flexible repayment options</p>
            </div>
        </div>
        <div class="advantages-rgt">
            <div class="image_section">
                <img src="../images/uploads/banks.svg"/>
            </div>
            <div class="advantage_description">
                <p class="advantage_para">Backed by the best of Banks</p>
            </div>
        </div>
    </div>
</div>