<div class="localities_bottomsection">
    <div class="bottomsection_heading">
        <p>Get Gold Loan</p>
        <p>for low interest rate?</p>
    </div>
    <div class="bottom_section" id="mobile_numberInput">
        <div class="input_wrapper">
          <input class="mobile_no" type="number" id="mobile_number" onfocus="document.getElementById('mobile_errormessage').style.display='none'"  name="mobile_number" placeholder="Enter Your Mobile Number" minlength="10" maxlength="10" oninput="value = value.replace(/[^0-9]/g, '').replace(/(\.*)\./g, '$1');" required
          />
          <span class="mobile_errormessage" id="mobile_errormessage">Please enter valid Mobile Number</span>
          <button class="action_button" id="capture_mobileNumber" onclick="capture_mobileNumber(document.getElementById('mobile_number').value)" >Apply Now</button>
        </div>
    </div>
    {{ partial "successpopup_section" .}}
    <div class="bottom_section" id="pincode_Input" style="display: none;">
      <div class="input_wrapper">
        <input class="pincode" type="number" id="pincode" name="pincode" onfocus="document.getElementById('pincode_errormessage').style.display='none'" placeholder="Enter pincode" name="pincode" pattern="[0-9]{6}" maxlength="6" oninput="value = value.replace(/[^0-9]/g, '').replace(/(\.*)\./g, '$1');"
        />
        <span class="pincode_errormessage" id="pincode_errormessage">Please enter valid Pincode</span>
        <button class="action_button" onclick="updateGoogleSheet()">Apply Now</button>
      </div>
    </div>
</div>
