<!-- PRODUCT LISTING FOOTER GOES HERE -->
<div class="footer_wrapper">
    <div class="footer_innerWrapper">
        <div class="footer_data">© 2015-2020 Rupeek Fintech Pvt Ltd. </div>
        <div class="footer_data"><a href="/about/faq/subtopics-indetail?q1=Terms%20and%20Policies&amp;q2=Privacy%20Policy&amp;city=bengaluru" class="footer_privacy"> Privacy </a></div>
        <div class="footer_data"><a href="/about/faq/subtopics-indetail?q1=Terms%20and%20Policies&amp;q2=Terms%20of%20Service&amp;city=bengaluru" class="footer_terms"> Terms </a></div>
        <div class="footer_data"><a href="/about/faq/subtopics-indetail?q1=Terms%20and%20Policies&amp;q2=Press%20Kit&amp;city=bengaluru" class="footer_press"> Press</a></div>
    </div>
</div>
<!-- PRODUCT LISTING FOOTER ENDS HERE -->
