<head>
    <title>{{.Params.tabTitle}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content={{.Params.meta_description}}>
    <meta name="keywords" content={{.Params.meta_keywords}}>
    <meta name="author" content={{.Params.meta_author}}>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/index.css">
  </head>