<!-- PRODUCT LISTING TOP LIST ABOUT RUPEEK SECTION GOES HERE>>> -->
<ul class="rupeek_list">
    <li class="list_li">
        <h3 class="list_heading">Fair</h3>
        <p class="list_description">Choose from our range of low-interest loans as per the <gold rate in Bangalore> with the zero 
            hidden charges, with the help of our <a href="https://rupeek.com/interest-payment" class="listdescription_link">interest rate calculator</a>.
        </p>
    </li>
    <li class="list_li">
        <h3 class="list_heading">Fast</h3>
        <p class="list_description">Get instant loan disbursal within 30 minutes</p>
    </li>
    <li class="list_li">
        <h3 class="list_heading">Flexible</h3>
        <p class="list_description">Repay the loan amount in monthly installments or within a single shot</p>
    </li>
</ul>
<!-- PRODUCT LISTING TOP LIST ABOUT RUPEEK SECTION ENDS HERE>>> -->
