<style>
    
    
</style>
<div class="localities_wrapper">
    <div class="localities_topsection">
        <div class="getin_touch">
            <p class="localities_headingpara"><b style="color:#484848">Get in touch</b> with us for the best gold loan in Bangalore.</p>
        </div>
        <div class="selectoption_wrapper">
            <select class="localities_select" onclick="toggleDiv()">
                <option  id="selectedValue" value="starter" selected>List of Localitties </option> 

            </select>
            <ul class="customselect_ul" id="localities_select" onclick="testing(event)">
                <li class="customselect_li localities_option">HSR LAYOUT</li>
                <li class="customselect_li localities_option">BTM LAYOUT</li>
                <li class="customselect_li localities_option">NAGAWARA LAYOUT</li>
                <li class="customselect_li localities_option">MANYATA TECH PARK</li>
                <li class="customselect_li localities_option">JP NAGAR</li>
                <li class="customselect_li localities_option">JAYANAGARA</li>
                <li class="customselect_li localities_option">AGARA</li>
            </ul>
        </div>
    </div>
</div>