
<!-- STATIC DATA GOES HERE -->
<div class="static-container">
    <div class="subWrapper">
        {{ partial "list" .}}
    </div>

    <div class="subWrapper">
        {{ partial "advantages_rupeek" .}}
    </div>
    {{ partial "timeline" .}}

    <div class="para_section">
        <p class="data">At Rupeek, we not only make your gold loan process more convenient, but we also guarantee 
            best-in-class safety. Rupeek offers free 100% insurance cover and has partnered with trusted 
            lenders, including ICICI Bank, Karur Vysya Bank and Federal Bank. Our bank partnerships 
            ensure that your gold is stored safely in secured bank lockers, making sure your online gold 
            loan experience is worry-free. </p>
    </div> 
    
    <div class="subWrapper">
        {{ partial "rupeekquick_banner" .}}
    </div>
    <div class="subWrapper">
        {{ partial "localities_section" .}}
    </div>

    <div class="para_section">
        <p class="data">If you have frequent and last-minute cash needs, you can opt for <a href="https://rupeek.com/rupeek-quick" class="custom_link">Rupeek Quick</a>, Rupeek’s 
            overdraft facility . Customers also have the option to pay interest only for the amount spent by 
            opting for an online gold loan through <a href="https://rupeek.com/rupeek-quick" class="custom_link">Rupeek Quick</a>. You can pledge your gold for an extended 
            credit line from which money can be transferred to your account for transactions. The interest 
            amount will only be generated when the money is put to use.  </p>
    </div> 

    <div class="para_section">
        <p class="data">You can  choose from our wide range of <a href="https://payments.rupeek.com/login" class="custom_link">flexible repayment</a> plans so that you never have to think 
            twice about availing a loan against gold.  </p>
    </div> 
    <div class="subWrapper">
        {{ partial "applynow_section" .}}
    </div>
</div>
<!-- STATIC DATA ENDS HERE -->