<div class="thankyou_wrapper" id="thankyou_wrapper">
    <div class="thankyou_innerWrapper">
        <div class="thankyou_imgwrapper"></div>
        <div class="thankyou_info">Our customer relationship manager has
            Been notified and call you shortly,
            till then click below to explore.</div>
            <div class="thankyou_explore_button">
                <button class="explore_button"><a class="explore_href" href="https://rupeek.com/blog/top-7-mistakes-to-avoid-while-applying-for-a-gold-loan/">Explore Rupeek</a></button>
            </div>
    </div>
</div>