<div class="rupeektimeline_wrapper">
    <p class="timeline_mainhead">Apply in 4 Easy Steps</p>
    <p class="timeline_subhead">Our <b style="color:#484848">gold loan process</b> is simple and easy to understand. </p>
    <div class="rupeekstep_timeline">
        <div class="timeline_container right">
            <span class="timeline_number">01</span>
        <div class="timeline_content">
            <div class="timeline_section">
                <div class="image_section">
                    <img src="../images/uploads/applyin4steps/apply_now.svg" alt="apply_loan"/>
                </div>
                <div class="timeline_description">
                    <p class="timeline_heading">Apply for a Loan</p>
                    <p class="advantage_para">Apply on our website for the best gold loan or give us a callat 08068186818 to schedule an appointment.</p>
                </div>
            </div>
        </div>
        </div>
        <div class="timeline_container right">
            <span class="timeline_number">02</span>
            <div class="timeline_content">
            <div class="timeline_section">
                <div class="image_section">
                    <img src="../images/uploads/applyin4steps/get_gold_valued.svg" alt="gold_valued"/>
                </div>
                <div class="timeline_description">
                    <p class="timeline_heading">Get Gold Valued</p>
                    <p class="advantage_para">Get your gold valued at home with documentation assistance & instant money transfer</p>
                </div>
            </div>
        </div>
        </div>
        <div class="timeline_container right">
            <span class="timeline_number">03</span>
            <div class="timeline_content">
            <div class="timeline_section">
                <div class="image_section">
                    <img src="../images/uploads/applyin4steps/easy_payment.svg" alt="easy_payment"/>
                </div>
                <div class="timeline_description">
                    <p class="timeline_heading">Easy Payments on the App</p>
                    <p class="advantage_para">Easily repay your loan against gold using the Rupeek app </p>
                </div>
            </div>
        </div>
        </div>
        <div class="timeline_container right">
            <span class="timeline_number">04</span>
            <div class="timeline_content">
            <div class="timeline_section">
                <div class="image_section">
                    <img src="../images/uploads/applyin4steps/gold_delivired.svg" alt="doorstep_delivery"/>
                </div>
                <div class="timeline_description">
                    <p class="timeline_heading">Gold Delivered Back At Your Doorstep</p>
                    <p class="advantage_para">Easily repay your loan against gold using the Rupeek app </p>
                </div>
            </div>
        </div>
        </div>
    </div>  
</div>
