<!-- TIMELINE SECTION GOES HERE APPLY NOW IN $ STEPS -->
<div class="rupeektimeline_wrapper">
    <h2 class="timeline_mainhead">Apply in 4 Easy Steps</h2>
    <h3 class="timeline_subhead">Our <b style="color:#484848">gold loan process</b> is simple and easy to understand. </h3>
    <div class="rupeekstep_timeline">
        <div class="timeline_container right">
            <span class="timeline_number">01</span>
        <div class="timeline_content">
            <div class="timeline_section">
                <div class="image_section">
                    <img src="../../images/uploads/applyin4steps/apply_now.svg" alt="gold loan in {{ .Params.Title }} with rupeek"/>
                </div>
                <div class="timeline_description">
                    <h4 class="timeline_heading">Apply for a Loan</h4>
                    <p class="advantage_para">Apply on our website for the best gold loan or <a href="https://rupeek.com/contact" class="custom_link">give us a call</a> at 08068186818 to schedule an appointment.</p>
                </div>
            </div>
        </div>
        </div>
        <div class="timeline_container right">
            <span class="timeline_number">02</span>
            <div class="timeline_content">
            <div class="timeline_section">
                <div class="image_section">
                    <img src="../../images/uploads/applyin4steps/get_gold_valued.svg" alt="gold loan in {{ .Params.Title }} with rupeek"/>
                </div>
                <div class="timeline_description">
                    <h4 class="timeline_heading">Get Gold Valued</h4>
                    <p class="advantage_para">Get your gold valued at home with documentation assistance & instant money transfer</p>
                </div>
            </div>
        </div>
        </div>
        <div class="timeline_container right">
            <span class="timeline_number">03</span>
            <div class="timeline_content">
            <div class="timeline_section">
                <div class="image_section">
                    <img src="../../images/uploads/applyin4steps/easy_payment.svg" alt="gold loan in {{ .Params.Title }} with rupeek"/>
                </div>
                <div class="timeline_description">
                    <h4 class="timeline_heading">Easy Payments on the App</h4>
                    <p class="advantage_para">Easily repay your loan against gold using the <a href="https://play.google.com/store/apps/details?id=com.rupeek.customer&hl=en_IN" class="custom_link">Rupeek app </a></p>
                </div>
            </div>
        </div>
        </div>
        <div class="timeline_container right">
            <span class="timeline_number">04</span>
            <div class="timeline_content">
            <div class="timeline_section">
                <div class="image_section">
                    <img src="../../images/uploads/applyin4steps/gold_delivired.svg" alt="gold loan in {{ .Params.Title }} with rupeek"/>
                </div>
                <div class="timeline_description">
                    <h4 class="timeline_heading">Gold Delivered Back At Your Doorstep</h4>
                    <p class="advantage_para">Easily repay your loan against gold using the Rupeek app </p>
                </div>
            </div>
        </div>
        </div>
    </div>  
</div>
<!-- TIMELINE SECTION ENDS HERE APPLY NOW IN $ STEPS -->
